*~
*.log
*.pyc
*.o
*.lo
*.la
*.aux
*.idx
*.out
*.pdf
*.synctex.gz
*.toc
*.Pi
*.Tpi
.DS_Store
.cproject
.project
.pydevproject
.settings
Makefile
Makefile.in
aclocal.m4
autom4te.cache
m4/libtool.m4
m4/lt*m4
config.*
configure
ctools.pc
.DS_Store
install-sh
libtool
ltmain.sh
missing
.libs
.deps
stamp-h1
depcomp
test-driver

doc/html/doxygen
doc/man
src/ctools-setup
pyext/build/
pyext/setup.py
pyext/ctools.py
pyext/ctools_wrap.cpp
src/ctbin/ctbin
src/ctlike/ctlike
src/ctmodel/ctmodel
src/ctobssim/ctobssim
src/ctselect/ctselect
src/ctskymap/ctskymap
test/pfiles/
test/*.fits
test/*.dat
test/*.xml
test/*.trs
test/test_cscripts.sh
examples/*.fits
examples/*.xml
examples/*.dat

