*~
*.log
*.pyc
*.o
*.lo
*.la
*.aux
*.idx
*.out
*.pdf
*.synctex.gz
*.toc
*.Pi
*.Tpi
.DS_Store
.cproject
.project
.pydevproject
.settings
Makefile
Makefile.in
aclocal.m4
autom4te.cache
m4/libtool.m4
m4/lt*m4
config.*
configure
ctools.pc
.DS_Store
install-sh
libtool
ltmain.sh
missing
compile
.libs
.deps
stamp-h1
depcomp
test-driver
testconf.sh

doc/html
doc/man
src/ctools-setup
pyext/build/
pyext/setup.py
pyext/ctools/tools.py
pyext/ctools/tools_wrap.cpp
src/ctbin/ctbin
src/ctlike/ctlike
src/cttsmap/cttsmap
src/ctmodel/ctmodel
src/ctobssim/ctobssim
src/ctselect/ctselect
src/ctskymap/ctskymap
src/ctexpcube/ctexpcube
src/ctpsfcube/ctpsfcube
src/ctbkgcube/ctbkgcube
src/ctcubemask/ctcubemask
src/ctbutterfly/ctbutterfly
src/ctulimit/ctulimit
src/cterror/cterror
test/pfiles/
test/*.fits
test/*.dat
test/*.xml
test/*.trs
test/test_cscripts.sh
test/reports/*.xml
test/butterfly.txt
examples/*.fits
examples/*.xml
examples/*.dat
examples/ctools
